<header id="top" class="header" style="background-color: #fff">
    <div class="text-vertical-center shilled">
        <h1>@HillaryClinton But where are the emails?</h1>
        <br />
        <button onclick="window.location.href='/signin'" type="button" class="btn btn-primary btn-lg">Start Tweeting</button>
</header>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">How long did it take your staff of 823 people to think that up--and where are your 33,000 emails that you deleted? <a href="https://t.co/gECLNtQizQ">https://t.co/gECLNtQizQ</a></p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/741007091947556864">June 9, 2016</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <h3>Every time Hillary tweets, you tweet back.</h3>
                <br />
                <h4 style="color:#ddd">Hillary is a classic politician, and politicians need to be pressured to answer to citizens. So use your power to get the answer we're all looking for: Where are the emails? By clicking the Start Tweeting button and authorizing your Twitter account, you will automatically reply to shill Hillary's tweets with a simple question, "But where are the emails?". Let your voice be heard.
                <br />
                The application does nothing else, it won't read your tweets or post non-replies, but we reserve the right to change the target and the content of the tweets. </h4>
                <span style="color:#ddd;">To stop tweeting, or if you no longer agree with the current message being tweeted, go to <a style="color:#73baf7" href="https://twitter.com/settings/applications">your settings page</a> and revoke access to "hillarywherearetheemails".</span>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</aside>