<!-- Header -->
<header id="top" class="header" style="background-color: #fff">
    <div class="text-vertical-center trumped">
        <h1>@realDonaldTrump Delete your account.</h1>
        <br />
        <button onclick="window.location.href='/signin'" type="button" class="btn btn-primary btn-lg">Start Tweeting</button>
</header>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Delete your account. <a href="https://t.co/Oa92sncRQY">https://t.co/Oa92sncRQY</a></p>&mdash; Hillary Clinton (@HillaryClinton) <a href="https://twitter.com/HillaryClinton/status/740973710593654784">June 9, 2016</a></blockquote>
                <h3>Every time Trump tweets, you tweet back.</h3>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</aside>