<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>@realDonaldTrump Delete your account.</h1>
    </div>
</header>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Every time Trump tweets, you tweet back.</h3>
                <a href="/signin" class="btn btn-lg btn-light">Start tweeting!</a>
            </div>
        </div>
    </div>
</aside>